/* @charset "utf-8"; */
/* CSS Document */
/*********************************
1. Config Global Fonts
*********************************/
@font-face {
  src: local('Anek Kannada'), url(../../fonts/english_fonts/AnekKannada-VariableFont_wdth\,wght.ttf) format('truetype');
  src: local('Khmer OS Battambong'), url(../../fonts/khmer_fonts/khmer_os_battambong.ttf) format('truetype');
  font-family: 'Anek Kannada',sans-serif;
  font-family: 'Khmer OS Battambong', cursive;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Anek Kannada';
  font-weight: 500;
  font-size: 18px;
  src: local('Anek Kannada'), url(../../fonts/english_fonts/AnekKannada-VariableFont_wdth\,wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Khmer M1';
  font-weight: 500;
  font-size: 18px;
  src: local('Khmer M1'), url(../../fonts/khmer_fonts/khmer_m1.ttf) format('truetype');
}
@font-face {
  font-family: 'Khmer OS Battambong';
  font-weight: 500;
  font-size: 14px;
  src: local('Khmer OS Battambong'), url(../../fonts/khmer_fonts/khmer_os_battambong.ttf) format('truetype');
}
body,
html {
   font-family: 'Anek Kannada',sans-serif;
   font-family: 'Khmer OS Battambong', cursive;
   font-size: 18px;
}

* {
    font-family: 'Poppins','Khmer OS Battambong',sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
@media only screen and (max-width:767px){.hidden-xs-only{display:none!important}}@media only screen and (min-width:768px){.hidden-sm-and-up{display:none!important}}@media only screen and (min-width:768px) and (max-width:991px){.hidden-sm-only{display:none!important}}@media only screen and (max-width:991px){.hidden-sm-and-down{display:none!important}}@media only screen and (min-width:992px){.hidden-md-and-up{display:none!important}}@media only screen and (min-width:992px) and (max-width:1199px){.hidden-md-only{display:none!important}}@media only screen and (max-width:1199px){.hidden-md-and-down{display:none!important}}@media only screen and (min-width:1200px){.hidden-lg-and-up{display:none!important}}@media only screen and (min-width:1200px) and (max-width:1919px){.hidden-lg-only{display:none!important}}@media only screen and (max-width:1919px){.hidden-lg-and-down{display:none!important}}@media only screen and (min-width:1920px){.hidden-xl-only{display:none!important}}