//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
@import "variables.styl"

:root {
  --primary-color: #c51b1e;
  --primary-hover-color: #a41419;
}

*{
  box-sizing border-box
}
body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  min-height: 100vh;
  width: auto;
  box-sizing border-box
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: font-color;
  overflow-x: hidden;
  max-width auto;
  margin 0 auto;
}

button {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  box-sizing: border-box;
  white-space: inherit;
}


i, span {
  display: inline-block;
}

b.max-bold {
  font-weight: 700;
}
input{
  transition all .15s
}
button,
textarea,
input:not([type='checkbox']){
  outline: 0;
  border: none;
  height: btn-height;
  line-height: btn-height - 2px;
  border-radius: border-radius;
}
textarea,
input:not([type='checkbox']) {
  border: 1px solid #ddd;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  line-height: 1.6;
  min-height: 120px;
  padding: 14px 15px;
  vertical-align: top;
}

.ajax-btn:active,
button:active,
textarea:focus,
textarea:active,
input:focus,
input:active {
  background: rgba(0,0,0,.02);
  box-shadow 0 0 3px 2px primary-color
}

button {
  margin-bottom: 0;
  width: auto;
  background: none;
  cursor: pointer;
}

a, button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .2s ease-in-out;
  transition: all .1s ease-in-out;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover {
  text-decoration: none;
}

label
  display inline-block
  user-select none

::placeholder {
  color: #aaa;
  font-size: .9em;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: #aaa;
  font-size: .9em;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: #aaa;
  font-size: .9em;
  letter-spacing: 1px;
}


/* RESPONSIVE */
@media only screen and (max-width: 576px)
  body
    font-size 14px

  h1
    font-size 2.7em

  h2
    font-size 1.8em

  h3
    font-size 1.3em

  h4
    font-size 1.1em

  h5
    font-size 1em



